.hero-overly {
    position: relative;
    z-index: 0;
}
.section-bg2 {
    background-size: cover;
    background-repeat: no-repeat;
}
.slider-height2 {
    height: 400px;
    background-size: cover;
    display: flex;
    align-items: center
}
